@import "tailwindcss";

/* Simple custom scrollbar for Chromium-based browsers */
ul[role="listbox"]::-webkit-scrollbar {
  width: 8px;
}
ul[role="listbox"]::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.12);
  border-radius: 999px;
}
ul[role="listbox"]::-webkit-scrollbar-track {
  background: transparent;
}
